.center {
  /* Contexto */
  width: 1180px;
  margin: 0 auto;
}

/* HEADER */
.header {
  width: 100%;
  height: 60px;
  background-color: #212343;
}

.header img {
  margin: 19px;
}

/* BANNER */
.container-banner {
  width: 100%;
  height: 557px;
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-position: center;
}

.container-banner > .center {
  height: 100%;
}

/* FORMULARIO */
.form {
  padding: 10px;
  width: 400px;
  height: calc(
    100% + 30px
  ); /* height herdado do elemento anterior (.container-banner) */
  position: relative;
  top: -15px;
  border: 8px solid #ccc;

  background-color: white;
  float: right; /* Também pode usar display: inline-block no formo... e text-align: right no .container-banner > .center */
}

.form h2 {
  font-weight: normal;
  color: #999;
  font-size: 18px;
}

.input-container {
  margin-top: 20px;
}

.input-container span,
.form p {
  display: inline-block;
  width: 100%;
  color: #bbb;
  font-size: 17px;
}

.form p {
  margin: 20px 0;
}

.input-container input[type="text"] {
  margin-top: 8px;
  width: 344px;
  height: 55px;
  border: 1px solid #ccc;
}

.form .input-submit-container {
  text-align: center;
}

.form input[type="submit"] {
  cursor: pointer;
  width: 280px;
  height: 56px;
  background-color: #363a6d;
  color: white;
  font-size: 25px;
  display: inline-block;
  border: 0;
}
